<p style="color: green"><%= notice %></p>

<h1>Home</h1>

<%# Box to create tweet %>


<div id="tweets">

  <%= render "tweets/form", {tweet: Tweet.new} %>
  <% @tweets.each do |tweet| %>
    <%= link_to tweet do%>
      <%= render "card", tweet: tweet%>   
    <% end %>
  <% end %>

</div>
