<p style="color: green"><%= notice %></p>

<div class="section-sm">
  <div class="container-sm center">
    <h1>Home</h1>

    <%# Box to create tweet %>


    <div id="tweets">

      <%= render "tweets/form", {tweet: Tweet.new} %>
      <% @tweets.each do |tweet| %>        
        <%= render "card", tweet: tweet, user: current_user%>   
      <% end %>

    </div>
  </div>
</div>
